<!DOCTYPE html>
<html>
  <head>
    <title>Student Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div id="input-form">
      <form id="student-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="roll-number">Roll Number:</label>
        <input type="text" id="roll-number" name="roll-number">
        <br>
        <button type="button" onclick="displayScore()">Submit</button>
      </form>
      <div id="result"></div>
      
    </div>
    <div id="result">
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
    
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
  </body>
</html>
