<!DOCTYPE html>
<html>
<head>
    <title>Student Records</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    
</head>
<body>
    <h1>Student Records</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll Number</th>
                <th>Score</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.rollNumber }}</td>
                    <td>{{ student.score }}</td>
                    <td>{{ student.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="result"></div>
    <script src="{{ url_for('static', filename='script/script3.js') }}"></script>
</body>
</html>
